* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    background: #333333;
}

header {
    text-align: center;
    height: 100vh;
    padding-top: 9%;
    left: 50%;
    scroll-behavior: smooth;
}

header span {
    color: #f2f2f2;
    display: block;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

.title1 {
    font-weight: 800;
    font-size: 200px;
    margin-bottom: -20px;
    position: relative;
    background: #333333;

    animation: text 3s 1;
}

.title2 {
    font-weight: 600;
    font-size: 120px;
}

.title_button {
    display: inline-block;

    margin-top: 47.5px;
    background: #eb5757;
    padding: 25px 50px;
    color: #f2f2f2;
    font-size: 36px;
    outline: none;
    border: 0;
    border-radius: 4px;
}

.title_button:hover {
    margin-top: 47px;
    background: #a13838;
    padding: 25px 50px;
    color: #f2f2f2;
    font-size: 36px;
    outline: none;
    border: 0;
}

@keyframes text {
    0% {
        color: #333333;
        margin-bottom: -265px;
    }

    30% {
        letter-spacing: 30px;
        margin-bottom: -20px;
    }

    85% {
        letter-spacing: normal;
        margin-bottom: -20px;
    }
}

.container {
    position: relative;
    width: 100%;
}

.scrolldown {
    margin-top: 88vh;
    left: 50%;
    position: absolute;
    width: 24px;
    height: 24px;
}

.scrolldown span {
    position: absolute;
    width: 50px;
    height: 5px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.scrolldown span:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
.scrolldown span:nth-child(2) {
animation: move 3s ease-out 2s infinite;
}

.scrolldown span:before,
.scrolldown span:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.scrolldown span:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.scrolldown span:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(20px);
  }
  67% {
    opacity: 1;
    transform: translateY(30px);
  }
  100% {
    opacity: 0;
    transform: translateY(45px) scale3d(0.5, 0.5, 0.5);
  }
}
